bin/Debug/data/Captador
bin/Debug/data/Captador
bin/Debug/data/Captadorjj
bin/Debug/resources/historic
bin/Debug/resources/log.txt
bin/Debug/resources/settings.json
bin/Degug/resources/*
bin/Debug/data/*
